<div class="row">
    <div class='col-md-8 col-md-offset-2 well'>
        <%= form_for @ing do |f| %>
            <div class="form-group">
                 Nome: <%= f.text_field :name, class:"form-control" %><br />
            </div>
              <%= f.submit "Add um Novo Ingrediente", class:"btn btn-warning" %>
              <%= link_to "Cancel", :back, class:"btn btn-danger" %>
        <% end %>
    </div>
</div>